@import "common.scss";
@import "_minix.scss";
.box {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

header {
    width: 100%;
    height: pxTorem(50px);
    line-height: pxTorem(50px);
    background: #000;
    flex-shrink: 0;
    @include box_flex;
    @include justify(space-between);
    p {
        .icon {
            color: #fff;
            font-size: pxTorem(16px);
        }
        span {
            color: #fff;
            font-size: pxTorem(16px);
        }
    }
    .icon {
        color: #fff;
        font-size: pxTorem(16px);
    }
}

footer {
    width: 100%;
    height: pxTorem(50px);
    flex-shrink: 0;
    border-top: pxTorem(1px) solid #ccc;
    .lis {
        width: 100%;
        height: 100%;
        @include box_flex;
        @include justify(space-around);
        li {
            text-align: center;
            margin-top: pxTorem(10px);
            line-height: pxTorem(20px);
            .icon {
                font-size: pxTorem(18px);
            }
        }
    }
}

section {
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.ind {
    width: 100%;
    height: pxTorem(50px);
    background: #ccc;
    @include box_flex;
    form {
        width: 80%;
        height: pxTorem(40px);
        margin: 0 auto;
        margin-top: pxTorem(5px);
        background: #fff;
        border-radius: pxTorem(20px);
        input {
            height: 100%;
            line-height: pxTorem(40px);
            padding-left: pxTorem(10px);
        }
    }
}

.pic {
    width: 100%;
    height: pxTorem(120px);
}

.page-container {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    img {
        width: 100%;
    }
}

.main {
    flex: 1;
}

.menu {
    width: 100%;
    height: pxTorem(120px);
    overflow: hidden;
    .list li {
        margin-bottom: pxTorem(20px);
        text-align: center;
        line-height: pxTorem(20px);
        @include box_flex;
        @include justify(space-around);
        .icon {
            font-size: pxTorem(18px);
        }
    }
}

.tu {
    width: 100%;
    img {
        width: 100%;
    }
}

.my {
    width: 100%;
    height: pxTorem(150px);
    background: #ccc;
    @include box_flex;
    .left {
        width: pxTorem(100px);
        height: 100%;
        text-align: center;
        h3 {
            font-size: pxTorem(20px);
        }
        span {
            background: #FF3B3A;
            display: inline-block;
            width: pxTorem(30px);
            height: pxTorem(18px);
            border-radius: pxTorem(9px);
            line-height: pxTorem(18px);
        }
    }
    .right {
        width: pxTorem(200px);
        height: pxTorem(130px);
        background: #fff;
    }
}